<!DOCTYPE html>
<html>
<head>
  <title>Tabla con contenidos</title>
  <link rel="stylesheet" type="text/css" href="styleTable.css" >

</head>
<body>
<div class="container class=">
  <h2>EVENTOS</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Fecha del evento</th>
      <th>Lugar</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Matrimonio</td>
      <td>TechnoOrquesta</td>
      <td>13/05/2023</td>
      <td>Neiva</td>

    </tr>


    </tbody>
  </table>
  <a href="musicosTable.html">Ver listado de Confirmacion</a>
  <a href="eventoOrquesta.html">Volver al formulario</a>
  <a href="tipoEvento.html">Crear nuevo evento</a>
</div>

</body>
</html>
