<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styleEvento.css" >
  <title>Eventos Musicales</title>
</head>
<body>
<div class="container">

  <h2>ORQUESTA RITMO KONTINENTAL</h2>
  <h3>Confirmacion de asistencia</h3>

  <form>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
    </div>

    <div class="form-group">
      <label for="id">Cedula:</label>
      <input type="text" id="id" name="id" required>
    </div>

    <div class="form-group">
      <label for="funcion">Funcion:</label>
      <input type="text" id="funcion" name="funcion" required>
    </div>

    <div class="form-group">
      <label for="duracion">Telefono:</label>
      <input type="text" id="duracion" name="duracion" required>
    </div>

    <div class="form-group">
      <label for="lugar">Lugar Residencia:</label>
      <input type="text" id="lugar" name="lugar" required>
    </div>

    <div class="form-group">
      <input type="submit" value="Enviar">
    </div>
    <a href="eventosTable.html">Ver listado</a>

  </form>
</div>
</body>
</html>
