<!DOCTYPE html>
<html>
<head>
    <title>Tabla con contenidos</title>
    <link rel="stylesheet" type="text/css" href="styleTable.css" >

</head>
<body>
<div class="container class=">
    <h2>CONFIRMACION AL EVENTO</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Funcion</th>
            <th>Telefono</th>
            <th>Fecha del evento</th>
            <th>Lugar de residencia</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Oscar Renza Melendez</td>
            <td>Saxofonista</td>
            <td>3224822144</td>
            <td>13/05/2023</td>
            <td>Neiva Huila</td>

        </tr>


        </tbody>
    </table>
    <a href="eventoOrquesta.html">Volver al formulario</a>
    <a href="tipoEvento.html">Crear nuevo evento</a>
</div>

</body>
</html>

