body {
    background-image: url(Musicales2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Montserrat , sans-serif;
}
.container h2{
    text-align: center;
}

/*Recuadro info*/
.container {
    max-width: 800px;
    margin:100px auto;
    background-color: #839192;
    padding: 20px;
    border-radius: 5px;
    opacity: 80% ;

}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



.container a {
    color: #212121;
    text-align: center;
}
